<div ng-controller="dragDropCtrl" class="navbar navbar-default navbar-fixed-top ">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home"><i class="ion-ios7-pulse-strong"></i>E-learning App</a>
    </div>
    <div>
        <ul class="nav navbar-nav pull-right">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref=".dragDrop">dragDrop</a></li>
            <li><a ui-sref=".matchPair">Match pair</a></li>
        </ul>
    </div>
</div>
<div ui-view></div>
